.row {
  margin-left: 0px;
  margin-right: 0px; }

p {
  margin-bottom: 0px; }

#cssmenu {
  display: none; }

.menu_2 .display_item {
  display: flex; }
  .menu_2 .display_item .left_display {
    padding-top: 5px;
    width: 14.5%;
    border-left: 1px solid #ababab; }
    .menu_2 .display_item .left_display a {
      padding: 0px 0px 5px 10px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 11px;
      line-height: 16px;
      text-align: left;
      color: #000;
      opacity: 0.4; }
  .menu_2 .display_item .center_display {
    width: 71%; }
    .menu_2 .display_item .center_display ul li {
      width: 24.5%;
      display: inline-block; }
      .menu_2 .display_item .center_display ul li a {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        text-align: left;
        color: #000;
        padding: 5px 0px 5px 10px;
        border-left: 1px solid #ababab; }
        .menu_2 .display_item .center_display ul li a:hover {
          font-weight: bold;
          font-size: 11px;
          line-height: 16px;
          text-align: left;
          color: #000;
          opacity: 0.4; }
      .menu_2 .display_item .center_display ul li .active_category {
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        text-align: left;
        color: #000;
        opacity: 0.4; }
  .menu_2 .display_item .right_display {
    padding-top: 5px;
    width: 14.5%;
    border-left: 1px solid #ababab; }
    .menu_2 .display_item .right_display a {
      padding: 0px 0px 5px 10px;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 11px;
      line-height: 16px;
      text-align: left;
      color: #000; }
      .menu_2 .display_item .right_display a:hover {
        font-weight: bold;
        font-size: 11px;
        line-height: 16px;
        text-align: left;
        color: #000;
        opacity: 0.4; }

ul {
  list-style: none outside none;
  padding-left: 0;
  margin: 0; }

.list_video {
  margin-bottom: 20px;
  margin-top: 30px; }
  .list_video .item_vd {
    text-align: center;
    margin-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 8px;
    position: relative; }
    @media (min-width: 960px) {
      .list_video .item_vd {
        width: 153px; } }
    .list_video .item_vd img {
      max-width: 100%; }
    .list_video .item_vd .a-title {
      display: none;
      position: absolute;
      align-items: center;
      justify-content: center;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      text-align: center;
      color: #333;
      background: #fff;
      opacity: 0.8; }
    .list_video .item_vd:hover .a-title {
      display: flex;
      padding-left: 12px;
      padding-right: 12px; }
  .list_video .pc-cle {
    display: none; }
  .list_video .mobile-cle {
    display: none; }
  .list_video .mg6 {
    margin-right: 0px; }

.pre-next {
  margin-bottom: 65px;
  position: relative; }
  .pre-next .pagination .other-page {
    display: none; }
  .pre-next .pagination .current {
    display: none; }
  .pre-next .pagination .pre-page {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    border: unset; }
    .pre-next .pagination .pre-page i {
      color: #999999;
      font-size: 60px;
      font-weight: bold; }
  .pre-next .pagination .next-page {
    border: unset;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px;
    margin-right: 0px; }
    .pre-next .pagination .next-page i {
      color: #999999;
      font-size: 60px;
      font-weight: bold; }

@media (max-width: 960px) {
  .list_video .item_vd {
    width: 24%; }
  .list_video .pc-cle {
    display: block; }
  .list_video .mg4 {
    margin-right: 0px; } }
@media (max-width: 767px) {
  .menu_2 {
    display: none; }

  .list_video .item_vd {
    width: 25%;
    padding-right: 10px;
    margin-right: 0px; }
    .list_video .item_vd .a-title {
      position: unset;
      display: block;
      height: 30px;
      margin-top: 10px; } }
@media (max-width: 500px) {
  .menu_2 {
    display: none; }

  .list_video .item_vd {
    width: 32%;
    padding-right: 0px;
    margin-right: 2%; }
    .list_video .item_vd .a-title {
      height: 48px; }
  .list_video .pc-cle {
    display: none; }
  .list_video .mobile-cle {
    display: block; }
  .list_video .mg3 {
    margin-right: 0px; } }

/*# sourceMappingURL=home.css.map */
